<div id="<%= dom_id transaction %>">
  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= transaction.total_price %>
  </p>

</div>
